:root {
    --background-color:#003D50;
    --primary-color:#FBBF24;
    --accent-color:#155E75;
}
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body
{
    /* Auto layout */
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 25px;

    position: relative;
    background: var(--background-color);
}
nav
{
    /* Navbar */
    /* Auto layout */
    display: flex;
    align-items: center;
    padding: 0px 50px;
    gap: 3%;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    /* Accent */
    background: var(--accent-color);
}
.logo
{
    flex: none;
    max-height: 100px;
    order: 0;
    flex-grow: 0;
}
.search
{
    display: flex;
}
input[type="search"],
.icon-only {
transition: box-shadow .3s;
}
input[type="search"] {
  width: 275px;
  height: 32px;
  padding: 12px;
  border: 1px solid #FBBF24;
  border-radius: 27px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

input[type="search"]:hover{
  outline: none;
  box-shadow: 0px 0px 0px 1px #FBBF24;
}

input[type="search"]:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px #7c5b06;
  }


.icon-only {
    background: var(--primary-color);
    color: white;
    border: 0;
    width: 32px;
    height: 32px;
    margin-left: -10%;
    border-radius: 20px;
}
.icon-only:hover,
.icon-only:focus {
  outline: none;
  box-shadow: inset 0px 0px 2px 3px white;
}
.main-nav
{
    /* Main nav items */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3%;
    flex: 1; 
    text-align: center;
}
.button-icon
{
    /* Button */

    /* Auto layout */
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px 8px 16px;
    gap: 10px;
    min-width: 110px;
    height: 32px;

    /* Primary */

    background: #FBBF24;
    border-radius: 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;

}

.button-icon i
{
    color: #EEF2FF;
}
.second-nav
{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    flex: none;
    order: 3;
    flex-grow: 0;
}
.button-icon-rounded
{
    /* Button */

    /* Auto layout */
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px 8px 16px;
    gap: 10px;
    min-width: 110px;
    height: 32px;

    /* Primary */
    border-radius: 27px;
    background: var(--primary-color);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;

}

.button-icon-rounded i
{
    color: #EEF2FF;
}

.icon-button
{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;

    width: 32px;
    height: 32px;

    background: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.hamburger
{
    color: #fff;
    text-decoration: none;
    display: block;
    align-items: center;
    padding: 8px;
    width: 32px;
    height: 32px;
    margin-left: auto;
}
  
.big-hamburger-content {
  display: none;
  z-index: 1;
  justify-items: center;
  margin-left: -55px;
  margin-top: 125px;
}

.big-hamburger-content button{
  margin-top: 15px;
  width: 160%;
  height: 80%;
}
.big-hamburger-content button:nth-child(3) {
  display: none;
}
.big-hamburger-content button:nth-child(4) {
  display: none;
}
.hamburger:hover .big-hamburger-content {
  display: grid;
}
.fullhamburger{
  background: var(--accent-color);
  display: none;
	position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  float: right;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -25px -35px 27px 19px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
  height: 100%;
  overflow-y: auto;
  padding: 15px;
}
.fullhamburger a{
  margin: 20px;
}
@media screen and (max-width: 1350px) {
  .second-nav{ display: none;}
  .hamburger{
      display: flex;
  }
}
@media screen and (max-width: 1200px) {
  .main-nav a:nth-child(3) { display: none; }
  .big-hamburger-content button:nth-child(3) { display: block; }
  .big-hamburger-content {margin-top: 165px;}
}
@media screen and (max-width: 1125px) {
  .main-nav a:nth-child(2) { display: none; }
  .big-hamburger-content button:nth-child(4) { display: block; }
  .big-hamburger-content {margin-top: 200px;}
}
@media screen and (max-width: 850px) {
  .main-nav { display: none;}
  .second-nav {display: none;}
  .hamburger:hover  .big-hamburger-content {
    display: none;
  }
}