:root {
    --background-color:#003D50;
    --primary-color:#FBBF24;
    --accent-color:#155E75;
    --dur: .3s;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body
{
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 15px 25px;
gap: 25px;

position: relative;
background: var(--background-color);
}
nav
{
/* Navbar */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px 50px;
gap: 95px;

position: relative;
width: 100%;
height: 100px;
box-sizing: border-box;
/* Accent */

background: var(--accent-color);

}
.logo
{
    flex: none;
    max-height: 100px;
    order: 0;
    flex-grow: 0;
}

input[type="search"],
.icon-only {
transition: box-shadow .3s;
}
input[type="search"] {
  width: 275px;
  height: 32px;
  padding: 12px;
  border: 1px solid #FBBF24;
  border-radius: 27px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
}

input[type="search"]:hover{
  outline: none;
  box-shadow: 0px 0px 0px 1px #FBBF24;
}

input[type="search"]:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px #7c5b06;
  }

.icon-only {
    transform: translateX(calc(-100% - var(--border-width, 1px)));
    background: var(--primary-color);
    color: white;
    border: 0;
    width: 32px;
    height: 32px;
    margin-left: -3px;
    border-radius: 20px;
}
.icon-only:hover,
.icon-only:focus {
  outline: none;
  box-shadow: inset 0px 0px 2px 3px white;
}