:root {
    --background-color:#003D50;
    --primary-color:#FBBF24;
    --accent-color:#155E75;
    --side-pading: 25px;
}
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body
{
    /* Auto layout */
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 25px;

    position: relative;
    background: var(--background-color);
}
nav
{
    /* Navbar */
    /* Auto layout */
    display: flex;
    align-items: center;
    padding: 0px var(--side-pading);
    gap: 3%;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    /* Accent */
    background: var(--accent-color);
}
.logo
{
    flex: none;
    max-height: 100px;
    order: 0;
    flex-grow: 0;
}
.search
{
    display: flex;
}
input[type="search"],
.icon-only {
transition: box-shadow .3s;
}
input[type="search"] {
  width: 275px;
  height: 32px;
  padding: 12px;
  border: 1px solid #FBBF24;
  border-radius: 27px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

input[type="search"]:hover{
  outline: none;
  box-shadow: 0px 0px 0px 1px #FBBF24;
}

input[type="search"]:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px #7c5b06;
  }


.icon-only {
    background: var(--primary-color);
    color: white;
    border: 0;
    width: 32px;
    height: 32px;
    margin-left: -10%;
    border-radius: 50%;
}
.icon-only:hover,
.icon-only:focus {
  outline: none;
  box-shadow: inset 0px 0px 2px 3px white;
}
.main-nav
{
    /* Main nav items */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3%;
    flex: 1; 
    text-align: center;
}
.button-icon
{
    /* Button */

    /* Auto layout */
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px 8px 16px;
    gap: 10px;
    min-width: 110px;
    height: 32px;

    /* Primary */

    background: #FBBF24;
    border-radius: 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    border: none;
}

.button-icon i
{
    color: #EEF2FF;
}
.second-nav
{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    flex: none;
    order: 3;
    flex-grow: 0;
}
.button-icon-rounded
{
    /* Button */

    /* Auto layout */
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px 8px 16px;
    gap: 10px;
    min-width: 110px;
    height: 32px;
    border: none;
    /* Primary */
    border-radius: 27px;
    background: var(--primary-color);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;

}

.button-icon-rounded i
{
    color: #EEF2FF;
}

.icon-button
{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;

    width: 32px;
    height: 32px;

    background: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.hamburger
{
    color: #fff;
    text-decoration: none;
    display: none;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-left: auto;
}
  
.big-hamburger-content {
  display: none;
  z-index: 1;
  justify-items: center;
  margin-left: -100px;
  margin-top: 125px;
  background-color: var(--accent-color);
  border: 1px var(--primary-color);
  border-style: solid;
}

.big-hamburger-content button{
  margin-top: 15px;
  min-width: 150px;
  margin: 7px;
}
.big-hamburger-content button:nth-child(3) {
  display: none;
}
.big-hamburger-content button:nth-child(4) {
  display: none;
}
.hamburger:hover .big-hamburger-content {
  display: grid;
}
.fullhamburger{
  background: var(--accent-color);
  display: none;
	position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  float: right;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -25px -35px 27px 19px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
  height: 100%;
  overflow-y: auto;
  padding: 15px;
}
.fullhamburger a{
  margin: 20px;
}
main
{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.frame {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.frame .top{
  /* Inside auto layout */
  margin: 0px var(--side-pading);
  display: flex;
  align-items: center;
}
.top .right{
  position: absolute;
  right: calc(var(--side-pading)*2);
}

.category-container {
  height: 75px;
  width: 100%;
  /* Default/yellow/400 */

  background: var(--primary-color);
}

.category
{
 /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 60px;
  height: 60px;
  border: none;
  /* Accent */

  background: var(--accent-color);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.category i
{
  color: var(--primary-color)
}
.category-scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  gap: 21px;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
  padding: 7px var(--side-pading);
  box-sizing: border-box;
}
.category-scroll.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item-container {
  height: 350px;
  width: 100%;
  /* Default/yellow/400 */
  /* Ending soon */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  width: 100%;
  height: 300px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  background: var(--accent-color);
}

.item
{
/* Frame 12 */


  width: 250px;
  height: 250px;

  background-image: url('../assets/laptop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Inside auto layout */

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.item-time
{
  display: flex;
  position: relative;
  width: 137px;
  height: 23px;
  left: 15px;
  top: 20px;
  background: #111827;
  align-items: center;
  color: #fff;
  padding: 0 5px;
}
.triangle {
  margin-left: 5px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right:15px solid var(--primary-color); 
}
.triangle-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 550;
  width: 100px;
  height: 30px;
  background: var(--primary-color);
  left: 121.5px;
  position: absolute;
}
.item button{
  position: absolute;
  top: 180px;
  /* right: 15px; */
  align-items: initial;
}

.item-scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  gap: 55px;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
  padding: 7px var(--side-pading);
  box-sizing: border-box;
}
.item-scroll.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}
@media screen and (max-width: 525px) {
  h1 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 1350px) {
  .second-nav{ display: none;}
  .hamburger{
      display: flex;
  }
}
@media screen and (max-width: 1200px) {
  .main-nav button:nth-child(3) { display: none; }
  .big-hamburger-content button:nth-child(3) { display: block; }
  .big-hamburger-content {margin-top: 165px;}
}
@media screen and (max-width: 1125px) {
  .main-nav button:nth-child(2) { display: none; }
  .big-hamburger-content button:nth-child(4) { display: block; }
  .big-hamburger-content {margin-top: 200px;}
}
@media screen and (max-width: 850px) {
  .main-nav { display: none;}
  .second-nav {display: none;}
  .hamburger:hover  .big-hamburger-content {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  h1
  {
    font-size: 1.5em;
  }
  .search { max-width: 15%;}
  .icon-only {
    margin-left: -37%;
  }
  .category{
    transform: scale(0.7);
  }
  .category-container
  {
    height: 60px;
  }
  .category-scroll
  {
    gap: initial;
    padding: 2px var(--side-pading);
  }
  .top .right
  {
    transform: scale(0.8);
    right: var(--side-pading);
  }
}
@media screen and (max-width: 525px) {
  .search { display:none;}
}
button:disabled,
button[disabled]
{
  background: linear-gradient(0deg, #A89696, #A89696), #FFFFFF;
}
button:disabled i,
button[disabled] i
{
  color: #000;
}

button:hover
{
  background: linear-gradient(0deg, #D9B800, #D9B800), #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(0.5px);
  color: #fff;
}
button:hover i
{
  color: #000;
}
button:focus
{

  background: linear-gradient(0deg, #000000, #000000), #FFFFFF;
  /* Default/yellow/400 */

  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
button:focus i
{
  color: var(--primary-color);
}
button:active 
{
  color: #fff;
}
button:active  i
{
  color: #fff;
}
